body{
    font-family: Arial, Helvetica, sans-serif;
	margin: 3rem;
	padding: 0;
	background-image: url(#);
    color: #2E475D;
}

.logo{
    height:90px;
    width: 200px; 
}

article p {
    text-align: center;
    font-size: 1.2rem;
    padding: 2rem; 
    background-color: whitesmoke;
    margin:1rem 5rem; 
}


nav{
    display: flex; 
    flex-flow:row wrap;
    /* background-color:whitesmoke; */
}

.menu{
    margin-left: auto;
}

.subtitle{
    font-size: 1rem;
    font-family: 'Times New Roman', Times, serif;
    margin-top: auto;
    padding:0; 
}


.menu-item{
    /* border: solid red 3px; */
    width:3.7rem;
    height:1rem;   
    display: inline-block;
    margin: 0.5rem;
    padding: 0.2rem; 
    text-decoration:none; 
    text-align: center;
}

.icon  {
     border-radius: 50%;
     display:flex; 
     flex-flow:row wrap;
     justify-content:start; 
}
.heading  {
    display:flex; 
    flex-flow:row wrap; 
    border-top: 3px gray solid;
    border-bottom: 3px gray solid;
    padding: 1rem;
}
